body {
  box-sizing: border-box;
  background-color: rgb(45, 45, 45);
}

#app {
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background:#3D5A80; 
  border-radius: 10px;
}