/* Artist Show Container */

.artist-show-container {
  padding-top: 40px;
  height: 230px;
}
/* Artist Bio Container */

.artist-bio-container {
  display: flex;
  height: 250px;
  margin-top: 25px;
  margin-left: 100px;
  min-width: 1000px;
  
}


.artist-bio-container img {
  height: 220px;
  width: 300px;
  min-width: 200px;
  object-fit: cover;
  border: 2px solid gray;
  border-radius: 70px;
}

.artist-bio {
  height: 200px;
  width: 100%;
  min-width: 120px;
  margin-left: 20px;
  margin-right: 100px;
  box-sizing: border-box;
}

.artist-bio h1 {
    font-family: 'Abril Fatface';
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.artist-bio-text {
  width: 85%;
  margin: 10px 0px 0px 20px;
  line-height: 1.5em;
  font-size: 20px;
  height: 150px;
  overflow: auto;
  padding-right: 15px;
  box-sizing: border-box;
}

/* Artist Event Index Container */

.artist-event-index-container {
  height: 300px;
  margin: 0px 100px;
}

.artist-event-index-container h1 {
  display: flex;
  justify-content: baseline;
  font-weight: 600;
  align-items: center;
  font-size: 22px;
  height: 30px;
  width: 100%;
}
