.artist-edit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.artist-edit-form {
  display: flex;
  flex-direction: column;
  margin: 0 0 60px;
  padding: 25px 30px 20px;
  background-color: rgb(242, 242, 242);
  box-sizing: border-box;
  border-radius: 2px;
  min-width: 700px;
  width: 80%;
  max-width: 900px;
}

.artist-edit-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.artist-edit-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.artist-edit-right {
  width: 800px;
  min-width: 400px;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artist-edit-name {
  font-size: 24px;
  font-weight: bold;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.artist-edit-bio {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 7px 10px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  margin-top: 15px;
  resize: none;
}

.genre-select {
  margin-left: 10px;
  padding: 3px 5px;
  font-size: 16px;
}

.artist-edit-footer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0;
}

.artist-edit-save {
  color: #FFFFFF;
  background: #FD5E60;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.artist-edit-save:hover {
  cursor: pointer;
  background: rgb(224, 84, 86)
}

.artist-edit-cancel {
  margin-right: 10px;
  color: #FFFFFF;
  background: #E5E5E5;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.artist-edit-cancel:hover {
  cursor: pointer;
  background: rgb(199, 199, 199)
}

.artist-image-disclaimer {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-top: 15px;
  line-height: 1.3em;
}