/* Artist Show Container */

.artist-show-container {
  box-sizing: border-box;
  height: 100%;
}

.background-artist-show {
  box-sizing: border-box;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 180px);
}

.background-artist-show-filter {
  min-height: calc(100vh - 180px);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Owner Actions */

.owner-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px 0px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1250px;
}

.owner-actions a {
  margin: 10px 15px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  box-sizing: border-box;
}

.artist-show-filter {
  box-sizing: border-box;
  padding: 10px 15px 6px;
  width: 100%;
  height: 100%;
}

.artist-show-button-filter {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  position: relative;
}

.artist-show-filter:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.artist-show-button-filter:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.artist-show-button-filter:active {
  top: 1px;
}

.needs-padding {
  padding: 10px 10px 6px;
}

#edit-artist-link {
  background-color: gray;
  font-weight: normal;
  position: relative;
}

#edit-artist-link:active {
  top: 1px;
}

#create-event-link {
  background-color: rgb(0, 109, 0);
}

/* Artist Bio Container */
.artist-show-main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 20px;
  margin-top: 50px;
}

.artist-bio-fixed {
  display: flex;
  justify-content: center;
  position: relative;
  width: 500px;
}

.artist-bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  top: 20%;
  box-sizing: border-box;
  position: fixed;
  color: white;
}

.artist-pic {
  box-sizing: border-box;
  height: 250px;
  width: 250px;
  min-width: 100px;
  background-position: 50%;
  background-size: cover;
  border-radius: 15px;
}

.artist-pic-filter {
  background-color: rgba(0, 0, 0, .08);
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.artist-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  min-width: 120px;
  box-sizing: border-box;
}

.artist-bio h1 {
  font-family: 'Abril Fatface';
  font-size: 35px;
  margin: 25px 0px;
}

.artist-bio-text {
  min-width: 400px;
  font-size: 20px;
  width: 100%;
  padding: 10px 10px;
  overflow: auto;
  box-sizing: border-box;
}
