.event-show {
  display: flex;
  justify-content: center;
  background: #F2F2F2;
  min-height: 100vh;
  box-sizing: border-box;
}

.background-test {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.background-test-filter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(90vh - 60px);
  background-color: rgba(245, 245, 245, .87);
}

.event-show-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.event-show-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 40px;
}

.react-calendar {
  zoom: 0.6;
  border-radius: 10px;
  padding: 10px;
}

.event-show-countdown {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 0 50px;
}

.countdown-live-now {
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  animation:live 1s infinite;
}

@keyframes live{
  0%{ color: #3D5A80 }
  25%{ color: rgba(61, 90, 128, 0.836) }
  50%{ color: rgba(61, 90, 128, 0.685) }
  75%{ color: rgba(61, 90, 128, 0.466)}
  100%{ color: rgba(61, 90, 128, 0.253) }
}

.countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-time {
  font-family: 'Lobster', 'sans-serif';
  width: 400px;
  display: flex;
  justify-content: space-between;  
}

.countdown-timer-header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.countdown-time-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-time-text {
  margin-top: 10px;
}

.time-value {
  text-align: center;
  font-size: 50px;
  background: #3D5A80;
  color: white;
  border-radius: 10px;
  padding: 15px 0 0;
  width: 75px;
}

.countdown-days-value {
  width: 100px;
}

.event-show-buy {
  min-width: 110px;
  background: rgb(255, 69, 72);
  color: #FFFFFF;
  padding: 10px 15px 3px;
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
  0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
  align-self: flex-start;
  text-align: center;
  line-height: 1.7em;
}

.event-show-buy:hover {
  cursor: pointer;
}

.event-show-buy:active {
  background: #ff4548;
  box-shadow: none;
  top: 1px;
}

.event-show-buynow {
  font-size: 20px;
}

.event-show-price {
  font-size: 20px;
}

.event-show-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #293241;
  margin: 50px 0 20px;
}

.event-show-main-container {
  display: flex;
  width: 850px;
  min-width: 700px;
  margin-bottom: 50px;
  justify-content: flex-start;
}

.event-show-pic {
  box-sizing: border-box;
  height: 200px;
  min-width: 220px;
  background-position: 50%;
  background-size: cover;
  border-radius: 15px;
}

.event-show-pic-filter {
  background-color: rgba(0, 0, 0, .08);
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.event-show-pic-filter:hover {
  background-color: rgba(0, 0, 0, .15);
  cursor: pointer;
}

.event-show-body {
  height: 200px;
  min-width: 120px;
  margin-left: 15px;
  padding: 0 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

.event-show-name {
  font-family: 'Abril Fatface';
  font-size: 35px;
  margin: 10px 0 10px 5px;
}

.event-show-artistname {
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
}

.event-artistname-link {
  color: #3D5A80;
  text-decoration: underline;
  font-size: 22px;
}

.event-artistname-link:hover {
  cursor: pointer;
}

.event-show-description {
  min-width: 400px;
  margin: 10px 0 0 20px;
  line-height: 1.4em;
  font-size: 20px;
  height: 7em;
  width: 100%;
  overflow: auto;
  padding-right: 10px;
  box-sizing: border-box;
}

.event-show-upcoming {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.event-upcoming-container {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 40px 0px 40px;
  /* background: #F2F2F2; */
}

.event-index-item {
  height: 40px;
  width: 500px;
  margin-top: 20px;
}

.event-upcoming-container h1 {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 20px;
  height: 30px;
  width: 100%;
}

#start-streaming-event-show {
  line-height: 1.5em;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 20px auto 0;
  font-size: 24px;
  font-family: 'Hind Gunter', sans-serif;
  font-weight: bold;
  animation:button-live 1s infinite;
}

@keyframes button-live{
  0%{ background-color: rgb(255, 51, 51) }
  25%{ background-color: rgb(255, 92, 92) }
  50%{ background-color: rgb(255, 129, 129) }
  75%{ background-color: rgb(255, 159, 159)}
  100%{ background-color: rgb(255, 177, 177) }
}

#start-streaming-event-show:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, .75);
}

.event-index-container h1 {
  font-weight: bold;
  font-size: 24px;
}

.over-text {
  font-size: 50px;
  font-weight: bold;
  color: #3D5A80;
}