.event-create-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.background-test-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 180px);
}

.background-test-form-filter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.event-create-form {
  display: flex;
  flex-direction: column;
  margin: 0 0 60px;
  padding: 25px 30px 20px;
  background-color: rgb(92, 92, 92);
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 700px;
  width: 80%;
  max-width: 900px;
}

.event-create-header {
  font-size: 20px;
  font-style: italic;
  color: white;
}

.event-create-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.event-create-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.event-date {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.event-date > select {
  height: 30px;
  border: 2px solid #999999;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Hind Guntur';
  margin-right: 8px;
  background-color: lightgray;
}

.react-time-picker {
  margin-left: 10px;
  height: 30px;
  background-color: lightgray;
}

.event-create-right {
  width: 800px;
  min-width: 400px;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-inputs-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.event-inputs-container input {
  height: 25px;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid #999999;
  border-radius: 2px;
  background-color: lightgray;
}

.event-name-field {
  width: 100%;
  margin-right: 30px;
}

.event-price-container {
  display: flex;
  align-items: center;
}

.event-price-label {
  height: 80%;
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

.event-price-field {
  width: 70px;
  height: 100%;
  background-color: lightgray;
}

.event-description-field {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  font-size: 14px;
  padding: 10px;
  border: 2px solid #999999;
  border-radius: 2px;
  margin-top: 5px;
  resize: none;
  background-color: lightgray;
}

.event-create-btns {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0;
}

.event-create-btn, .event-cancel-btn {
  width: 110px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 8px;
}

.event-create-btn:hover,
.event-cancel-btn:hover {
  cursor: pointer;
}

.event-create-btn:hover {
  background: rgb(224, 84, 86)
}

.event-cancel-btn:hover {
  background: rgb(199, 199, 199)
}

.event-create-btn {
  color: #FFFFFF;
  background: #FD5E60;
  font-weight: bold;
}

.event-cancel-btn {
  margin-right: 10px;
  border: none;
  background: rgb(214, 214, 214);
  color: rgb(133, 133, 133);
}


.image-upload-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.image-upload-btn {
  border: 1px solid #999999;
  border-radius: 2px;
  padding: 3px 5px;
  background-color: rgb(221, 221, 221);
}

.image-disclaimer {
  text-align: center;
  font-size: 12px;
  color: darkgray;
  line-height: 1.3em;
}

.event-create-errors {
  margin-top: 15px;
  color: rgb(184, 42, 42);
}