.footer {
  background-color: white;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-about {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

.footer-item-container {
  display: flex;
  justify-content: center;
}

.footer-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.foot-pic {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-git-logo {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.footer-li-logo {
  width: 30px;
  height: 30px;
}

.footer-site-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1.25px solid lightgrey;
  width: 90%;
}

.footer-site-info-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.footer-info-logo {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.footer-info-text {
  margin-left: 30px;
  height: 5px;
  font-size: 13px;
}

.footer-info-copyright {
  color: lightgrey;
  font-size: 12px;
}