.nav-bar {
  height: 60px;
  position: relative;
  z-index: 99;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  background: #3D5A80;
  color: white;
  position: fixed;
  width: 100%;
  padding: 0 10px;
  transition: all .4s;
}

.nav-container.scrolled {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.nav-bar-left, .nav-bar-right, .nav-logo {
  display: flex;
  align-items: center;
}

.nav-bar-right svg {
  font-size: 24px;
  margin-right: 5px;
}

.nav-bar-username {
  margin-top: 5px;
}

.nav-bar-right a {
  display: flex;
  align-items: center;
}

.nav-logo-name {
  font-size: 28px;
  font-family: 'Lobster', cursive;
  margin-left: 10px;
}

.nav-bar-about {
  cursor: pointer;
  margin: 5px 0px 0px 15px;
}

.nav-bar-about:hover {
  color: rgb(221, 221, 221);
}

.nav-bar-tutorial {
  cursor: pointer;
  margin: 5px 0px 0px 15px;
}

.nav-bar-tutorial:hover, 
.tutorial-first-visit:hover {
  color: rgb(221, 221, 221);
}

.tutorial-first-visit {
  position: absolute;
  background: rgb(148, 148, 148);
  color: white;
  border-radius: 7px;
  width: 150px;
  opacity: 0.8;
  top: 13px;
  left: 300px;
  padding: 10px 0px 3px 10px;
  /* margin: 10px 0px 0px 5px; */
}

.tutorial-first-visit:before {
  position: absolute;
  left: -9px;
  top: 8px;
  display: inline-block;
  border-top: 9px solid transparent;
  border-right: 9px solid rgb(148, 148, 148);
  border-bottom: 9px solid transparent;
  content: "";
}

.nav-bar-welcome {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  cursor: pointer;
}

.nav-bar-welcome:hover {
  color: rgb(221, 221, 221);
}

.nav-bar-button {
  display: flex;
  margin-left: 10px;
  border-radius: 3px;
  height: 32px;
  background-color: #F2F2F2;
}

.nav-bar-button button {
  color: #3D5A80;
  background-color: inherit;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-bar-filter:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.welcome-text {
  padding: 4px 5px 0;
}