.nav-bar {
  height: 60px;
  position: relative;
  z-index: 99;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  background: #B3BEFF;
  background: #506CF0;
  color: white;
  position: fixed;
  width: 100%;
  padding: 0 10px;
  transition: all .4s;
}

.nav-container.scrolled {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  background-color: #7486F0;
}

.nav-bar-left, .nav-bar-right, .nav-logo {
  display: flex;
  align-items: center;
}

.nav-bar-right svg {
  font-size: 24px;
  margin-right: 5px;
}

.nav-bar-username {
  margin-top: 5px;
}

.nav-bar-right a {
  display: flex;
  align-items: center;
}

.nav-logo-name {
  font-size: 28px;
  font-family: 'Lobster', cursive;
}

.nav-bar-about {
  margin: 5px 0px 0px 25px;
}

.nav-bar-about:hover {
  color: #FD5E60;
}

.nav-bar-welcome:hover {
  color: #FD5E60;
}
.nav-bar-button {
  display: flex;
  margin-left: 10px;
  border-radius: 3px;
  height: 32px;
  background-color: #F2F2F2;
  color: #7486F0;
}

.nav-bar-button button {
  background-color: inherit;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-bar-filter:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}