.search-bar-container {
  width: 35%;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 33.5%;
  left: 2.4%;
  color: lightgrey;
}

.search-input {
  width: 100%;
  height: 25px;
  margin: 5px;
  font-size: 14px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 6%;
}

.search-dropdown {
  width: 100%;
  position: absolute;
  top: 115%;
  left: 1.5%;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.search-dropdown-item, .search-artists, .search-events, .no-results, .index-search-link  {
  margin: 8px;
}

.search-dropdown-item:hover, .index-search-link:hover {
  opacity: 0.5;
}

.search-artists, .search-events {
  font-size: 17px;
  font-weight: 900;
}

.search-events {
  border-top: 2px solid lightgrey;
  padding-top: 10px;
}

.index-search-link {
  font-size: 12px;
  font-style: italic;
  margin-top: 15px;
}

.search-results-container {
  padding: 30px;
}

.search-results-header {
  font-size: 30px;
  font-weight: 900;
}

.search-fragment {
  font-size: 26px;
  font-weight: 100;
}

.search-results-container h2 {
  font-size: 28px;
  margin: 40px 0;
  width: 80px;
  border-bottom: 3px solid lightgrey;
}

.search-artists-results {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.artist-search-item {
  margin: 20px 40px 20px 0;
}