

.background-search {
  box-sizing: border-box;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 180px);
}

.background-search-filter {
  min-height: calc(100vh - 180px);
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.1);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.search-bar-container {
  width: 35%;
  position: relative;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.search-icon {
  position: absolute;
  top: 33.5%;
  left: 2.4%;
  color: lightgrey;
}

.search-input {
  width: 100%;
  height: 25px;
  margin: 5px;
  font-size: 14px;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 5.15%;
}

.search-input:focus {
  outline: none;
}

.search-dropdown {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 115%;
  left: 1.5%;
  background-color: white;
  color: black;
  border-radius: 3px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  overflow-x: hidden;
}

.search-dropdown-item, .search-artists, .search-events, .no-results, .index-search-link  {
  margin: 8px;
}

.search-dropdown-item {
  width: 100%;
  box-sizing: border-box;
}

.search-item-content {
  display: flex;
}

.search-item-image {
  width: 50px;
  height: 50px;
}

.search-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
  box-sizing: border-box;
}

.search-dropdown-item:hover, .index-search-link:hover {
  opacity: 0.5;
}

.search-artists, .search-events {
  font-size: 17px;
  font-weight: 900;
}

.search-artists {
  margin-top: 15px;
}

.search-events {
  margin-top: 10px;
  border-top: 2px solid lightgrey;
  padding-top: 15px;
}

.index-search-link {
  font-size: 12px;
  font-style: italic;
  margin-top: 15px;
}

.search-results-container {
  
}

.search-results-header {
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.search-fragment {
  font-size: 26px;
  font-weight: 100;
}

.search-results-container h2 {
  font-size: 28px;
  margin: 40px 0;
  width: 80px;
  border-bottom: 3px solid lightgrey;
  color: white;
}

.search-artists-results {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.artist-search-item {
  margin: 20px 40px 20px 0;
}