.event-index-container {
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.event-index-container h1 {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 25px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.event-toggle {
  display: flex;
  justify-content: flex-start;
}

.event-toggle h2 {
  font-size: 18px;
  text-align: center;
  border-top: 1.2px ridge grey;
  border-left: 1.2px ridge grey;
  border-right: 1.2px ridge grey;
}

.event-toggle h2:first-child {
  border-radius: 5px 0 0 0;
}

.event-toggle h2:nth-child(2) {
  border-radius: 0 5px 0 0;
}

.event-toggle h2:hover {
  cursor: pointer;
}

.upcoming-events-tab,
.past-events-tab {
  background-color: rgb(235, 235, 235);
  padding: 15px;
  min-width: 100px;
  border-radius: 10px;
}

.tab-selected {
  background-color: #3D5A80;
  color: white;
}



.show-item-container {
  display: flex;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.show-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #3D5A80;
  border-radius: 0px 5px 5px 5px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.show-items-container::-webkit-scrollbar-thumb {
  background-color: white;
}

.show-item {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 700px;
  width: 100%;
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
  0 1px 2px rgba(0, 0, 0, 0.5);
}

.show-item:hover{
  cursor: pointer;
}

.show-item:active {
  box-shadow: none;
  top: 1px;
}

.event-pic {
  box-sizing: border-box;
  width: 140px;
  min-width: 140px;
  background-position: 50%;
  background-size: cover;
  height: 110px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.event-pic-filter {
  background-color: rgba(0, 0, 0, .08);
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding: 7px 5px;
}

.item-details h4 {
  font-size: 20px;
  font-weight: 600;
}

.item-details p {
  width: 100%;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.show-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.show-item-price {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 600;
  margin: 15px 10px 0px 0px;
}

.show-item-price::before {
  content:"$";
}

.delete-button {
  align-self: center;
  margin-top: 20px;
  background-color: white;
  height: 20px;
  width: 20px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s;
}

.delete-button:hover {
  opacity: 1;
  cursor: pointer;
}

.delete-button:active {
  opacity: 0.4;
}

.delete-button svg {
  align-self: center;
}
