.show-item-container {
  display: flex;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.show-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.show-item {
  background-color: white;
  height: 124px;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 700px;
  width: 100%;
}

.show-item:hover{
  cursor: pointer;
}

/* .show-item figure img {
  width: 200px;
  min-width: 200px;
  height: 120px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 30px 40px;
} */

.event-pic {
  box-sizing: border-box;
  width: 140px;
  min-width: 140px;
  background-position: 50%;
  background-size: cover;
  height: 110px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.event-pic-filter {
  background-color: rgba(0, 0, 0, .08);
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.item-details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 5px
}

.item-details h4 {
  font-size: 20px;
  font-weight: 600;
}

.item-details p {
  width: 100%;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.show-item-price {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 10px 0 0
}

.show-item-price::before {
    content:"$";
}


