.show-items-container {
  height: 600px;
}

.show-item-container {
  display: flex;
}

.show-item {
  background-color: white;
  height: 180px;
  border-radius: 30px;
  margin: 30px 0px;
  display: flex;
  min-width: 884px;
  width: 100%;
}

.show-item:hover{
  cursor: pointer;
}

.show-item figure img {
  width: 200px;
  min-width: 200px;
  height: 120px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 30px 40px;
}

.item-details {
  display: flex;
  width: 80%;
  min-width: 600px;
  justify-content: space-between;
  align-items: center;
}

.item-text {
  margin: 30px 0px;
}

.item-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.item-text p {
  margin-top: 10px;
  max-width: 800px;
  width: 100%;
  height: 78px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.show-item span {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0px 30px;
}

.show-item span::before {
    content:"$";
}


