.splash-header {
  display: flex;
  justify-content: space-around;
  padding: 15px 0 0;
}

.background-splash {
  box-sizing: border-box;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 180px);
}

.background-splash-filter {
  min-height: calc(100vh - 180px);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.site-heading {
  font-size: 23px;
  padding: 15px;
  font-weight: bold;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  color: white;
}

.splash-body {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0 15px 0 0;
}

.splash-body h3 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
  align-self: left;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

#live-now h3 {
  color: red
}

.event-category-container {
  box-sizing: border-box;
  min-width: 65%;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stream-carousel {
  padding: 10px 40px 10px;
  margin-bottom: 60px;
  width: 100%;
  box-sizing: border-box;
  align-self: center;
}

.carousel-item {
  box-sizing: border-box;
  background-size: cover;
  background-position: 50%;
  height: 200px;
  width: 29%;
  border-radius: 8px;
  margin: .7%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}

.carousel-item:hover {
  transform: scale(1.04);
}

.carousel-item-filter {
  text-overflow: ellipsis;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .5);
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
}

.carousel-item-description span {
  font-size: 18px;
}

.carousel-item-detail {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-right: 10px;
}


.carousel-item-filter:hover {
  background-color: rgba(255, 255, 255, .25);
  cursor: pointer;
}

.stream-carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.random-artist-container {
  box-sizing: border-box;
  width: 35%;
  max-width: 500px;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
}

#trending-artists {
  padding-top: 30px;
}

.artist-feature {
  width: 100%;
  padding: 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artist-feature-item {
  box-sizing: border-box;
  background-size: cover;
  background-position: 50%;
  width: 45%;
  margin-bottom: 20px;
  height: 145px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgb(103, 103, 103);
  transition: 0.4s;
}

.artist-feature-item:hover {
  transform: scale(1.04);
}

.artist-feature-item-filter {
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .45);
  background-size: cover;
  background-position: 50%;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.artist-feature-item-filter:hover {
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer;
}

.artist-feature-item-filter p {
  font-size: 12px;
  color: black;
  font-style: italic;
  font-weight: 500;
}


.featured-stream-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
}

.featured-stream-container > h1 {
  font-size: 25px;
  margin-bottom: 20px;
  color: red;
  font-weight: bold;
  padding-top: 30px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.featured-parent {
  width: 100%;
  display: flex;
  height: 350px;
  justify-content: center;
  margin-bottom: 50px;
}

.featured-stream-content {
  position: relative;
  width: 75%;
  max-width: 690px;
  min-width: 500px;
  height: 100%;
  transition: 0.4s;
}

.featured-stream-content:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.featured-stream-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 5px;
}

.featured-stream-text {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: 0 0 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  box-sizing: border-box;
}

.featured-stream-text > h2:first-child {
  font-size: 30px;
  min-height: 40px;
  padding-top: 15px;
}

.featured-stream-text > h2:nth-child(2) {
  height: 25px;
  line-height: 20px;
  font-size: 20px;
}

.featured-stream-text > h2 {
  font-weight: 100;
  background-color: rgba(0,0,0,.8);
  padding: 5px 5px;
  color: white;
  margin-bottom: 8px;
  width: fit-content;
}

.featured-stream-text > span {
  margin-top: 5px;
  font-size: 20px;
  color: white;
}