.splash {
  height: 400px;
}

.splash-header {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 20px;
}

.site-heading {
  font-size: 22px;
  padding: 15px;
  font-weight: bold;
}

.splash-body {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.splash-body h3 {
  color: #3D5A80;
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
  align-self: left
}

#live-now h3 {
  color: red
}

.event-category-container {
  box-sizing: border-box;
  min-width: 65%;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stream-carousel {
  padding: 10px 40px 10px;
  margin-bottom: 50px;
  width: 95%;
  box-sizing: border-box;
  align-self: center;
}

.carousel-item {
  box-sizing: border-box;
  height: 150px;
  width: 24%;
  border-radius: 8px;
  margin: .4%;
}

.carousel-item-filter {
  text-overflow: ellipsis;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .45);
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
}

.carousel-item-filter:hover {
  background-color: rgba(255, 255, 255, .25);
  cursor: pointer;
}

.stream-carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.random-artist-container {
  box-sizing: border-box;
  width: 35%;
  max-width: 500px;
  align-items: flex-start;
  justify-content: center;
}

.artist-feature {
  width: 100%;
  padding: 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artist-feature-item {
  box-sizing: border-box;
  background-size: cover;
  background-position: 50%;
  width: 40%;
  margin-bottom: 40px;
  height: 120px;
  border-radius: 3px;
}

.artist-feature-item-filter {
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .45);
  padding: 10px;
  width: 100%;
  height: 100%;
}

.artist-feature-item-filter:hover {
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer;
}