.stream-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 80px);
}

.lets-fucking-get-it {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-streaming, #stop-streaming {
  position: absolute;
  left: 10%;
  top: 85px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  font-family: 'Hind Gunter', sans-serif;
  font-weight: bold;
}

#start-streaming:hover, #stop-streaming:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, .75);
}

.stream-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 15px 0px;
}

.stream-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5em;
}

.stream-description {
  margin: 20px 0 40px;
}

.technical-difficulties {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

#get-outta-here {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 5px 0;
  font-size: 14px;
}

#get-outta-here:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, .75);
}


.stream-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: top;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 60px);
}

.stream-video-player {
  background: white;
  width: calc(100vw - 350px);
}

#rVideo, #lVideo {
  background: black;
  height: calc(100% - 200px);
  width: 100%;
}

.stream-chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 100%;
}

#messages-container {
  height: 650px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.stream-message {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.stream-name {
  font-weight: bold;
  margin-right: 5px;
}

.stream-chat {
  width: 100%;
}

.stream-chat-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#message-field {
  width: 75%;
  height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
}

.stream-chat-container button {
  height: 28px;
  border-radius: 10px;
}
.stream-emojis {
  display: flex;
  justify-content: space-evenly;
}
.stream-emoji {
  font-size: 30px;
}

.stream-emoji:hover {
  cursor: pointer;
}