.stream-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: calc(100vh - 80px); */
}

.lets-fucking-get-it {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 200px;
  color: white;
}

.streaming-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

#start-streaming, #stop-streaming {
  /* position: absolute; */
  /* left: 10%; */
  /* top: 85px; */
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  font-family: 'Hind Gunter', sans-serif;
  font-weight: bold;
  /* height: fit-content; */
  /* width: fit-content; */
}

#start-streaming:hover, #stop-streaming:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, .75);
}

.stream-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid slategray;
  padding: 15px 25px;
}

.stream-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5em;
  color: white;
}

.user-stream-title {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5em;
  border-bottom: 1px solid slategray;
}

.viewer-count {
  font-size: 22px;
  color: white;
  font-weight: normal;
}

.user-stream-title div, .technical-difficulties div {
  color: white;
  display: flex;
  flex-direction: column;
}

.stream-description {
  width: 100%;
  border-top: 1px solid slategray;
  font-weight: bold;
  line-height: 1.5em;
  padding: 30px 0;
  text-align: center;
  color: white;
}

.technical-difficulties {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  border-top: 1px solid gray;
  padding: 30px;
}

#get-outta-here {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 14px;
}

#get-outta-here:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, .75);
}


.stream-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: top; */
  width: 100%;
  /* height: 100%; */
  /* max-height: 700px; */
  /* max-height: calc(100vh - 60px); */
}

.stream-video-player {
  /* background: black;
  max-width: calc(100% - 350px);
  max-height: 100%; */
}

#rVideo, #lVideo {
  background: gray;
  width: 800px;
  min-width: 300px;
  max-height: 600px;
  margin: auto;
  box-sizing: border-box;
}

video::-webkit-media-controls-timeline {display: none;}
video::-webkit-media-controls-current-time-display { display: none }

.stream-chat-box {
  background-color: rgb(185, 185, 185);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  min-width: 300px;
  height: 650px;
  margin: 10px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 3px solid slategray;
}

#messages-container {
  height: 100%;
  padding: 10px 10px 5px;
  overflow-y: auto;
  /* overflow-x: scroll; */
  background-color: rgb(215, 215, 215);
}

.stream-message {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  font-size: 14px;
}

.stream-name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
}

.stream-chat {
  width: 100%;
  border-top: 2px solid slategray;
}

.stream-chat-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#message-field {
  font-size: 14px;
  width: 75%;
  height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 8px 0 15px;
}

.stream-chat-container button {
  height: 28px;
  border-radius: 7px;
}
.stream-emojis {
  display: flex;
  justify-content: space-evenly;
}
.stream-emoji {
  font-size: 30px;
}

.stream-emoji:hover {
  cursor: pointer;
}