.tutorial {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  background-color: lightgray;
  border-radius: 5px;
  padding: 30px;
  box-shadow: rgba(102, 79, 79, 0.9) 0 0 10px;
  box-sizing: border-box;
}

.artist-tutorial,
.user-tutorial {
  padding: 10px 10px 10px 20px;
  width: 50%;
}

.tutorial h1 {
  color: #3D5A80;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 10px
}

.tutorial ol {
  list-style: decimal;
  list-style-position: outside;
}

.tutorial li {
  padding: 5px 0px 5px 2px;
}