/* User Show Container */

.user-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 550px;
}

.user-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
}

.user-bio {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-bio h1 {
  font-family: 'Abril Fatface';
  font-size: 35px;
  margin: 20px;
}

.user-bio-text {
  font-size: 15px;
  color: grey;
}

.user-pic-container {
  position: relative;
}

.user-pic {
  box-sizing: border-box;
  height: 250px;
  width: 250px;
  min-width: 100px;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
}

.user-pic:hover + .user-pic-edit-btn {
  display: inline-block;
}

.user-pic-edit-btn:hover {
  display: inline-block;
}

.user-pic-filter {
  background-color: rgba(0, 0, 0, .08);
  border-radius: 50%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.user-pic-edit-btn {
  display: none;
  position: absolute;
  top: 70%;
  left: 30%;
  font-size: 12px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  opacity: 0.8;
  border: 1px solid black;
}

.user-pic-edit-btn:focus {
  outline: none;
}

.visible {
  display: inline;
}


/* User Event Index Container */

.user-event-index-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.user-event-index-container h1 {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 25px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.user-event-toggle {
  display: flex;
  justify-content: flex-start;
}

.user-event-toggle h2 {
  font-size: 18px;
  text-align: center;
  border-top: 1.2px ridge grey;
  border-left: 1.2px ridge grey;
  border-right: 1.2px ridge grey;
}

.user-event-toggle h2:first-child {
  border-radius: 5px 0 0 0;
}

.user-event-toggle h2:nth-child(2) {
  border-radius: 0 5px 0 0;
}

.user-event-toggle h2:hover {
  cursor: pointer;
  opacity: 0.7;
}

.upcoming-events-tab, .past-events-tab {
  background-color: rgb(235, 235, 235);
  width: 110px;
  height: 50px;
  line-height: 55px;
}

.tab-selected {
  background-color: #3D5A80;
  color: white;
}

.user-event-divider {
  height: 30px;
  background-color: #3D5A80;
  border-radius: 0 5px 0 0;
}

.show-items-container {
  background-color: #3D5A80;
  border-radius: 0 0 5px 5px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.show-items-container::-webkit-scrollbar-thumb {
  background-color: white;
}

.show-items-container > h1 {
  box-sizing: border-box;
  margin-top: 20px;
  color: white;
  padding-left: 30px;
  margin-left: 0;
}

.show-item-container {
  display: flex;
  align-items: center;
  position: relative;
}

.refund-btn {
  position: absolute;
  right: 18%;
  height: 30px;
  line-height: 25px;
  margin-left: 20px;
}